<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} 
        dir="rtl"{% endif %}
        xmlns:fb="http://www.facebook.com/2008/fbml"
        prefix="og: http://ogp.me/ns#">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

{% comment %}
{% if not ga_key == 'e1v1' %}
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='82377657-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% endcomment %}

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}tiny url,shortener url,link shortener,réduire url,réduction lien,raccourcir lien,lien court,API,webservice,extension{% endblock %}">
<meta name="description" content="{% block meta_description %}Service gratuit pour réduire, raccourcir les liens longs (pour Twitter, Facebook, Google+). WebServices, Extensions navigateur, stats des URLs courtes, ...{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<meta name="msvalidate.01" content="D984D57E9B76E47BA53F96D0B927D01E" />
<meta name="blitz" content="mu-77b6a97a-4abe5e67-51aaa07d-871683d1" />
{% block meta_extra %}{% endblock %}

<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link rel="stylesheet" href="{% static "css/zurl.css" %}">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% endcompress %}

{% block extra_js %}
{% endblock %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>

{% block full_body %}
<body id="{% block body_id %}body{% endblock %}">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                {% if settings.SITE_TAGLINE %}<p class="navbar-text"><i class="icon-road icon-white"></i> {{ settings.SITE_TAGLINE }}</p>{% endif %}
                <div class="nav-collapse collapse">
                    <!--{% search_form "all" %}-->
                    {% page_menu "pages/menus/dropdown.html" %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="span12">
                {% nevercache %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" data-alert="alert">
                    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
                </div>
                {% endfor %}
                {% endnevercache %}
            </div>
        </div>
    </div>

    <div class="container">
        {% block zurl_body_content %}
        <div class="row">
            <div class="span2">
                {% block left_panel %}
                {% endblock %}
            </div>
            <div class="span8">
                <h1>{% block title %}{% endblock %}</h1>
                {% block main %}
                {% endblock %}
            </div>
            <div class="span2 right">
                {% block right_panel %}
                {% endblock %}
            </div>

        </div>
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="small">
                        <a href="/mzn/about/mentions-legales">Mentions légales</a>
                        <span class="separator">|</span>
                        {{ application_info.copyright}} <a href="{{application_info.url }}">{{application_info.name }}</a> - {{ application_info.version}}
                        {% if user.is_staff %}
                            <span class="separator">|</span>
                            {% trans "Powered by" %}
                            <a href="http://www.djangoproject.com" target="_blank">Django</a> {{platform_info.django.version}} / Python {{platform_info.python.version}} / {{platform_info.system}}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% include "includes/footer_scripts.html" %}

    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e81ee574d2261c"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 3
        }   
      });
    </script>
    <!-- AddThis Smart Layers END -->

    <!-- Google Analytics Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48191425-1', 'jvai.fr');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
    <!-- Google Analytics Script -->

</body>
{% endblock %}

</html>
