
#redirect_wrap {
    position:fixed;
    left:0;
    width:100%;
    top:0px;
    height:100%;
}

#redirect_iframe {
    display: block;
    width:100%;
    height:100%;
}

#barUpdProgress {
    margin-top: 30px;
    height: 20px;
    width: 100%;
    text-align: center;
}

.updWheel {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 25px;
    width: 20px;
    float: right;
}

#GoogleAdSense { text-align: center; }
