body {
    background-attachment:fixed;
    background-position:left bottom;
    background-image: url(../images/railway-blur20-b.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

footer,
footer p {
    padding-top: 10px;
    margin-top: 10px;
}

footer a {
    color: #2c3e50;
}

.modal-footer .twitter-share-button {
    float: left;
}

.updWheel {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 25px;
    width: 20px;
    float: right;
}

#chart_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#anonymous-zurl-form {
}

#zurl_chart_url {
    margin-bottom: 8px;
}

#zurl_stats {
    margin-bottom: 12px;
}

#toplast a,
#toptrend a,
#topview a {
    color: black;
}
